:root {
    padding: 0;
    margin: 0;
    font-size: 12pt;
}

body {
    display: grid;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    padding: 16px;
    padding-bottom: 0;
    max-height: 4vh;
}

.sidebar {
    display: flex;
    grid-column: 1 / 2;
    grid-row: span 2;
    background-color: #0ea5e9;
    height: 100vh;
    padding: 10px;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
}

.main-icon {
    max-width: 40%;
    background-color: white;
}

.sidebar li {
    font-size: 2rem;
    padding: 0.5rem;
}

.main-content {
    display: flex;
    flex-direction: row;
    grid-column: 2 / 3;
    padding: 10px 30px;
    gap: 20px;
    background-color: lightgrey;

}

.section-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

ul {
    list-style-type: none;
    padding: 5px;
}

.top-header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10%;
    align-items: center;
}

.search-bar {
    border: 1px solid black;
    border-radius: 5rem;
    font-size: 2rem;
    height: 2.5rem;
    padding: 0.5rem 2rem;
}

.bottom-header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-actions ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.user-actions > ul > li {
    background-color: red;
    border: 1px solid green;
    padding: 5px;
    border-radius: 15px;
}


.project-card {
    padding: 8px;
    border: 2px solid black;
    background-color: white;
    border-left: 4px solid purple;
}

.projects {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.announcements {
   
    padding: 8px 16px;
    border: 2px solid black;
    background-color: white;
    font-size: 0.8rem;

}

.trending {
    
    padding: 8px 16px;
    border: 2px solid black;
    background-color: white;
    font-size: 0.6rem;
    
}

